/* ==UserStyle==
@name         42Madrid clusters
@version      20241117.16.04
@namespace    https://userstyles.world/user/AdrianSkar
@description  Mods for improving clusters view
@author       AdrianSkar
==/UserStyle== */

@-moz-document url-prefix("https://meta.intra.42.fr/clusters") {
.tab-content{overflow-x: hidden;}
/* Cluster seats size */
.map-container {width: 250% !important;}

/* "Bad" Pcs in red
 * `#cluster-24` is cluster 1
 * `#cluster-25` is cluster 2
 * `#cluster-26` is cluster 3
 * `r1.middle` is row 1
 * `text:nth-child(4)` is seat 4 BUT 5 and 6 are interchanged
*/


/*_______________________________ Not available ______________________________*/

/*** C1 ***/
/* c1r1s1 bocal */
#cluster-24 g.r1.middle text:nth-child(1)
/* c1r2s2 needs reinstall https://42born2code.slack.com/archives/CNA2Z9PGD/p1731510902064349?thread_ts=1731510660.165949&cid=CNA2Z9PGD */
,#cluster-24 g.r2.middle text:nth-child(2)

{
	fill: red !important;
}

/* 
check bluetooth version
hciconfig -a
*/
/*_______________________________ Have issues ________________________________*/

/*** C1 ***/
/* c1r1s5 bad BT connection with headphones */
#cluster-24 g.r1.middle text:nth-child(6)
/* c1r3s6 bad BT connection with headphones headphones*/
,#cluster-24 g.r3.middle text:nth-child(5)
/* c1r17s2 bad BT connection with headphones */
,#cluster-24 g.r17.middle text:nth-child(4)
/* c1r2s3 bad BT connection with headphones */
,#cluster-24 g.r2.middle text:nth-child(3)
/* c1r3s1 bad Firefox version (profile message) */
,#cluster-24 g.r3.middle text:nth-child(1)
/* c1r5s5 bad BT connection with headphones */
,#cluster-24 g.r5.middle text:nth-child(3)
/* c1r5s5 bad BT connection with headphones */
,#cluster-24 g.r5.middle text:nth-child(6)
/* c1r7s5 bad BT connection with headphones */
,#cluster-24 g.r7.middle text:nth-child(6)
/* c1r11s4 bad BT connection with headphones */
,#cluster-24 g.r11.middle text:nth-child(5)
/* c1r11s5 bad BT connection with headphones */
,#cluster-24 g.r11.middle text:nth-child(3)
/* c1r12s5 bad BT connection with headphones */
,#cluster-24 g.r12.middle text:nth-child(3)
/* c1r14s6 bad BT connection with headphones */
,#cluster-24 g.r14.middle text:nth-child(6)
/* c1r16s4 bad BT connection with headphones headphones when KB connected too */
,#cluster-24 g.r16.middle text:nth-child(5)
/* c1r17s3 bad BT connection with headphones */
,#cluster-24 g.r17.middle text:nth-child(2)

/*** C2 ***/
/* c2r19s2 bad BT connection with headphones */
,#cluster-25 g.r19.middle text:nth-child(4)
/* c2r19s4 bad BT connection with headphones */
,#cluster-25 g.r19.middle text:nth-child(5)
/* c2r19s6 bad BT connection with headphones */
,#cluster-25 g.r19.middle text:nth-child(6)
/* c2r15s6 bad BT connection with headphones*/
,#cluster-25 g.r15.middle text:nth-child(6)

/*** C3 ***/
/* c3r3s6 bad BT connection with headphones */
,#cluster-26 g.r3.middle text:nth-child(5)
/* c3r3s5 bad BT connection with headphones */
,#cluster-26 g.r3.middle text:nth-child(6)


{
	fill: orange !important;
}


/*_______________________________ Working ones _______________________________*/

/*** C1 ***/
/* c1r1s3 */
#cluster-24 g.r1.middle text:nth-child(3)
/* c1r2s1 */
,#cluster-24 g.r2.middle text:nth-child(1)
/* c1r3s3 */
,#cluster-24 g.r3.middle text:nth-child(3)
/* c1r4s5 */
,#cluster-24 g.r4.middle text:nth-child(6)
/* c1r4s6 */
,#cluster-24 g.r4.middle text:nth-child(5)
/* c1r6s4 */
,#cluster-24 g.r6.middle text:nth-child(4)

/*** C2 ***/
/* c2r15s4 */
,#cluster-25 g.r15.middle text:nth-child(5)

/*** C3 ***/
/* c3r2s6 */
,#cluster-26 g.r2.middle text:nth-child(5)
/* c3r6s6 */
,#cluster-26 g.r6.middle text:nth-child(5)


{
	fill: green !important;
}
}
